@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(40deg, mediumpurple, yellow, lightgreen);
    background-image: url("/background\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion {
    max-width: 530px;
    width: 100%;
    background: #f0d5d5;
    margin: 0 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.accordion .accordion-content {
    /* background: #fc5ace9d; */
    background: linear-gradient(80deg, mediumpurple, yellow, lightgreen);
    border: 1px solid #fc5acb;
    border-radius: 4px;
    margin: 10px 0;
    overflow: hidden;
}

.accordion-content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    min-height: 50px;
    cursor: pointer;
    transition: all 0.8s linear;
}

.accordion-content header .title {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.accordion-content header i{
    font-size: 20px;
    color: #333;
}

.accordion-content .description {
    font-size: 25px;
    color: #333;
    padding: 0 15px;
    font-weight: 400;
    height: 0;
    transition: all 0.8s linear;
}

.accordion-content.open{
    padding-bottom: 10px;
}

.accordion-content.open header{
    min-height: 35px;
}

/* #connectWallet, #refreshWallet */ 
button, input {
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(40deg, mediumpurple, yellow, lightgreen);
    margin-left: 4px;
    margin-top: 4px;
    padding: 4px;
    border-radius: 4px;
}
input {
    cursor: text !important;
}
